.menu-nav {
	// padding-top: 65px;
	height: 250px;
	background-color: $color-teal;

	& h3 {
		text-align: center;
		font-family: $font-family--prices;
		padding-top: 60px;
		margin: 0;
	}

	& :first-child {
		margin-left: 0;
	}
}

.menu-nav-btn {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 75px;
	background-color: $color-teal;
	@include grid(12);
}

.menu-btn {
	width: 165px;
	height: 50px;
	color: $black;
	margin-left: 25px;
	text-transform: uppercase;
	border: 1px solid $black;
	background-color: transparent;
}

.menu-btn-active {
	@extend .menu-btn;
	background-color: $black;
	color: #AB6B51;
}

.menu-content {
	padding: 70px 265px;
	height: 665px;

	& .menu-content-first {
		@include grid(5);
		@include break(desktop, 6);
		@include break(tablet, 12);
		margin-bottom: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& .menu-content-second {
		@include grid(5, $push:2);
		@include break(desktop, 6);
		@include break(tablet, 12);
		margin-bottom: 0;
	}

	& .menu-content-third {
		@include grid(5);
		@include break(desktop, 6);
		@include break(tablet, 12);
		margin-bottom: 0;
	}

	& h5 {
		text-transform: uppercase;
		margin-top: 5px;
	}

	& .menu-price {
		font-family: $font-family--prices;
		font-size: 18px;
		float: left;
		display: inline;
		margin-left: -50px;
		margin-top: -2px;
	}

	& .menu-item {

	}
}



